<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robotis_op2">

  <xacro:include filename="$(find robotis_op2_description)/urdf/robotis_op2.visuals.xacro" />
  <xacro:include filename="$(find robotis_op2_description)/urdf/robotis_op2.collision.xacro" />
  <xacro:include filename="$(find robotis_op2_description)/urdf/robotis_op2.inertia.xacro" />

  <xacro:include filename="$(find robotis_op2_description)/urdf/robotis_op2.structure.rleg.xacro" />
  <xacro:include filename="$(find robotis_op2_description)/urdf/robotis_op2.structure.lleg.xacro" />
  <xacro:include filename="$(find robotis_op2_description)/urdf/robotis_op2.structure.rarm.xacro" />
  <xacro:include filename="$(find robotis_op2_description)/urdf/robotis_op2.structure.larm.xacro" />
  <xacro:include filename="$(find robotis_op2_description)/urdf/robotis_op2.structure.head.xacro" />

  <xacro:include filename="$(find robotis_op2_description)/urdf/robotis_op2.gazebo.xacro" />
  <xacro:include filename="$(find robotis_op2_description)/urdf/robotis_op2.transmissions.xacro" />

  <xacro:arg name="world_fixed" default="true" />  
  <xacro:if value="$(arg world_fixed)">
    <link name="world">
    </link>

    <joint name="world_fixed" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="world"/>
      <child link="body_link"/>
    </joint>
  </xacro:if>

  <xacro:unless value="$(arg world_fixed)">
     <!-- base link -->
    <link name="base_link"/>
    
    <joint name="base_joint" type="fixed">
        <parent link="base_link"/>
        <child link="body_link"/>
    </joint>
  </xacro:unless>


  <!-- body link -->
  <link name="body_link">
    <visual>
      <xacro:insert_mesh_body_link />
    </visual>
    <collision>
      <xacro:insert_coll_body_link />
    </collision>
    <inertial>
      <xacro:insert_inertia_body_link />
    </inertial>
  </link>

  <!-- leg link -->
  <xacro:robotis_op2_l_leg parent="body_link" />
  <xacro:robotis_op2_r_leg parent="body_link" />

  <!-- arm link -->
  <xacro:robotis_op2_l_arm parent="body_link" />
  <xacro:robotis_op2_r_arm parent="body_link" />

  <!-- head links -->
  <xacro:robotis_op2_head parent="body_link" />

</robot>
