<?xml version="1.0" ?>
<launch>
  <param name="robot_description"
    command="$(find xacro)/xacro '$(find robotis_op2_description)/urdf/robotis_op2.urdf.xacro'  world_fixed:=false with_hand:=true" />  

  <!-- send fake joint values -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    <rosparam param="/source_list">[/robotis/present_joint_states]</rosparam>
  </node>

  <!-- Combine joint values -->
  <arg name="use_tf_static" default="false"/> 
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="use_tf_static" value="$(arg use_tf_static)"/>
  </node>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotis_op2_description)/rviz/op.rviz"/>

</launch>
